.main-content {
    margin-top: 2%;
}

table {
    width: 70%;
    margin: 0 auto 0;
    background-color: #D8DEE9;
}

td {
    padding: 0.5rem;
    width: 10%;
}

th {
    padding: 0.5rem;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #f18c24;
}

tr:hover {
    background-color: rgba(46, 52, 64, 0.1);
    transition: .3s;
}

.paginator {
    width: 69.99%;
    margin-left: 15%;
    background-color: #D8DEE9;
}
