.main-content h1 {
    padding: 5rem;
    font-size: 4em;
}

::ng-deep .mat-tab-labels {
    margin-left: 30%;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #f18c24 !important;
}
