<div class="main-content">
    <h1>My profile</h1>
    <mat-tab-group>
        <mat-tab label="Edit profile">
            <app-edit-profile></app-edit-profile>
        </mat-tab>
        <mat-tab label="My orders">
            <app-my-orders></app-my-orders>
        </mat-tab>
        <mat-tab label="Security">
            <app-security></app-security>
        </mat-tab>
        <mat-tab label="Addresses">
            <app-addresses></app-addresses>
        </mat-tab>
    </mat-tab-group>
</div>
