.content {
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
}

.category-name h1 {
    font-size: 3em;
}

.sub-categories {
    margin-bottom: 2em;
}

.menu {
    text-align: right;
}

.menu mat-form-field {
    display: block;
}

.menu button {
    font-size: 18px;
}

.menu .filters {
    margin-right: 5px;
}

.menu mat-icon {
    font-size: 25px;
    margin-top: -3px;
}

.sub-categories button {
    background-color: #5c953f;
    color: white;
}

app-footer {
    background-color: #2E3440;
    position: absolute;
    left: 0;
    /*bottom: 0;*/
    width: 100%;
    overflow: hidden;
}

::ng-deep .menu .mat-form-field-underline {
    background-color: black !important;
}

::ng-deep .menu .mat-form-field-label {
    color: black !important;
}

::ng-deep .menu .mat-form-field-underline:focus {
    background-color: black !important;
}

::ng-deep .menu .mat-form-field-ripple {
    background-color: black !important;
}

::ng-deep .menu mat-form-field input {
    caret-color: black !important;
}

.menu .sort {
    background-color: #f18c24;
    /*background-color: #5c953f;*/
    color: white;
    margin-bottom: 10px;
}

mat-expansion-panel {
    border-radius: 0;
}

mat-expansion-panel-header {
    background-color: #D8DEE9 !important;
    border-radius: 0;
}

mat-expansion-panel-header:hover {
    background-color: #D8DEE9 !important;
    cursor: auto;
}

.filter-group-checkboxes {
    display: grid;
}

.filter-group {
    padding: 15px;
}

.filters-content {
    display: flex;
}

.apply-btn {
    text-align: right;
}

.apply-btn button, mat-icon{
    font-size: 18px;
    margin-top: -5px;
}

.apply-btn mat-icon {
    font-size: 25px;
}

::ng-deep .filter-group-checkboxes .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #f18c24 !important;
}

::ng-deep .filter-group-checkboxes .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #f18c24 !important;
}
::ng-deep .filter-group-checkboxes .mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #f18c24 !important;
}

