.content{
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
}

.sub-categories{
    margin-bottom: 2em;
}

.menu{
    text-align: right;
}

.menu mat-form-field{
    display: block;
}

.menu button {
    font-size: 18px;
}

.menu mat-icon{
    font-size: 25px;
    margin-top: -3px;
}

.sub-categories button {
    background-color: #5c953f;
    color: white;
}
