<div class="content">
    <div class="sub-categories">
        <div class="row">
            <div class="col-md-12 col-lg-4 category-name">
                <h1>Electronics</h1>
            </div>
            <div class="col-md-12 col-lg-4 menu">
                <mat-form-field appearance="fill">
                    <mat-label>Search</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4 menu">
                <button mat-button [matMenuTriggerFor]="menu">All electronics <mat-icon>apps</mat-icon></button>
            </div>
        </div>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-3"><app-product-card></app-product-card></div>
        <div class="col-md-12 col-lg-6 col-xl-3"><app-product-card></app-product-card></div>
        <div class="col-md-12 col-lg-6 col-xl-3"><app-product-card></app-product-card></div>
        <div class="col-md-12 col-lg-6 col-xl-3"><app-product-card></app-product-card></div>
        <div class="col-md-12 col-lg-6 col-xl-3"><app-product-card></app-product-card></div>
        <div class="col-md-12 col-lg-6 col-xl-3"><app-product-card></app-product-card></div>
        <div class="col-md-12 col-lg-6 col-xl-3"><app-product-card></app-product-card></div>
        <div class="col-md-12 col-lg-6 col-xl-3"><app-product-card></app-product-card></div>
        <div class="col-md-12 col-lg-6 col-xl-3"><app-product-card></app-product-card></div>
        <div class="col-md-12 col-lg-6 col-xl-3"><app-product-card></app-product-card></div>
    </div>
</div>

