<div class="content">
    <div class="sub-categories">
        <div class="row">
            <div class="col-md-12 col-lg-4 category-name">
                <h1>ELECTRONICS</h1>
            </div>
            <div class="col-md-12 col-lg-4 menu">
                <mat-form-field appearance="fill">
                    <mat-label>Search</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div class="col-md-12 col-lg-4 menu">
                <button mat-button class="filters" (click)="toggleFilterPanel()">FILTERS
                    <mat-icon>filter_alt</mat-icon>
                </button>
                <button mat-button [matMenuTriggerFor]="menu">ALL ELECTRONICS
                    <mat-icon>apps</mat-icon>
                </button>
            </div>
        </div>
        <mat-expansion-panel hideToggle class="mat-elevation-z0" [expanded]="filterPanelOpenState">
            <mat-expansion-panel-header>
                <mat-panel-title>
<!--                    This is the expansion title-->
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filters-content">
                <div class="filter-group">
                    <div class="filter-group-name">
                        <h2>Manufacturer</h2>
                    </div>
                    <div class="filter-group-checkboxes">
                        <mat-checkbox class="example-margin">Samsung</mat-checkbox>
                        <mat-checkbox class="example-margin">LG</mat-checkbox>
                        <mat-checkbox class="example-margin">Tesla</mat-checkbox>
                    </div>
                </div>
                <div class="filter-group">
                    <div class="filter-group-name">
                        <h2>Diagonal</h2>
                    </div>
                    <div class="filter-group-checkboxes">
                        <mat-checkbox class="example-margin">24"</mat-checkbox>
                        <mat-checkbox class="example-margin">32"</mat-checkbox>
                        <mat-checkbox class="example-margin">55"</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="apply-btn">
                <button mat-raised-button (click)="applyFilters()">APPLY <mat-icon>done</mat-icon></button>
            </div>
        </mat-expansion-panel>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>TVs</button>
            <button mat-menu-item>Audio</button>
            <button mat-menu-item>Video</button>
        </mat-menu>

        <mat-menu #sortMenu="matMenu">
            <button mat-menu-item>Price: Lowest to Highest</button>
            <button mat-menu-item>Price: Highest to Lowest</button>
            <button mat-menu-item>Name: A to Z</button>
            <button mat-menu-item>Name: Z to A</button>
        </mat-menu>
    </div>
    <div class="menu">
        <button mat-button [matMenuTriggerFor]="sortMenu" class="sort">SORT
            <mat-icon>sort</mat-icon>
        </button>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
            <app-product-card></app-product-card>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
            <app-product-card></app-product-card>
        </div>
    </div>
</div>
<app-footer></app-footer>


