<div class="main-content">
    <div class="user">
        <h3>Creating new municipality</h3>
    </div>
    <form [formGroup]="form">

        <mat-form-field class="example-full-width" tabindex="2">
            <mat-label>Municipality name</mat-label>
            <input formControlName="name" matInput type="text" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <mat-select formControlName="city" required>
                <mat-option *ngFor="let city of cities" [value]="city">
                    {{city?.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button class="crud-user" color="primary" mat-raised-button (click)="createMunicipality()">Save</button>
        </div>
    </form>
</div>
