<div class="content">
    <div class="change-password-form">
        <form [formGroup]="form">
            <div class="password">
                <mat-form-field>
                    <mat-label>Old password</mat-label>
                    <input [type]="passwordShown ? 'text' : 'password'" matInput formControlName="oldPassword">
                    <mat-icon matSuffix
                              (click)="showHidePassword()">{{passwordShown ? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                </mat-form-field>
            </div>
            <div class="repeated-password">
                <mat-form-field>
                    <mat-label>New password</mat-label>
                    <input [type]="passwordShown ? 'text' : 'password'" matInput formControlName="newPassword">
                </mat-form-field>
            </div>
            <div class="repeated-password">
                <mat-form-field>
                    <mat-label>Repeat password</mat-label>
                    <input [type]="passwordShown ? 'text' : 'password'" matInput formControlName="newRepeatedPassword">
                </mat-form-field>
            </div>
            <div class="save-btn">
                <button mat-raised-button>Change password</button>
            </div>
        </form>
    </div>
</div>
<!--<app-footer></app-footer>-->
