<div class="main-content">
    <mat-form-field class="search-field">
        <mat-label>Search...</mat-label>
        <input matInput #inputPar type="text" (keyup)="searchMunicipality(inputPar.value)">
    </mat-form-field>
    <div>
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID</th>
                <td mat-cell *matCellDef="let municipality"> {{municipality?.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Municipality name</th>
                <td mat-cell *matCellDef="let municipality"> {{municipality?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef> Country</th>
                <td mat-cell *matCellDef="let municipality"> {{municipality?.country?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Actions</th>
                <td mat-cell *matCellDef="let municipality" class="actions-field">
                    <button mat-raised-button color="primary" class="edit-button"
                            (click)="openEditMunicipalityDialog(municipality)">Edit
                    </button>
                    <button mat-raised-button color="primary" class="delete-button"
                            (click)="openDeleteMunicipalityDialog(municipality?.id)">Delete
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[15, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements" class="paginator">
        </mat-paginator>
    </div>
    <button class="color-secondary add-btn" mat-fab id="button2" (click)="openCreateMunicipalityDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
