.menu-icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}

::ng-deep .mat-drawer-inner-container {
    background-color: #2E3440;
}

::ng-deep mat-drawer-content {
    height: 100vh !important;
    background-color: #D8DEE9;
}

::ng-deep .menu-list {
    text-align: left;
    height: 100%;
}

::ng-deep .menu-list {
    text-align: left;
    height: 100%;
}

::ng-deep .menu-list .menu-list-item {
    color: white !important;
    cursor: pointer;
    font-size: 20px !important;
    animation: ease-in-out;
    transition: .2s;
}

::ng-deep .menu-list .menu-list-item:hover {
    background-color: #434C5E;
    transition: background-color 150ms linear;
}

::ng-deep mat-drawer .mat-drawer-inner-container {
    overflow-y: hidden !important;
    text-align: center;
    user-select: none;
    width: 210px;
}

.logo {
    margin-top: 1em;
    width: 70%;
    cursor: pointer;
}

::ng-deep .menu-list .menu-list-item.logout {
    position: absolute;
    bottom: 0;
}

::ng-deep .menu-list .menu-list-item.admin {
    position: absolute;
    bottom: 60px;
}

::ng-deep ::selection {
    color: white;
    background: #2E3440;
}

