<mat-drawer-container class="navbar-container">
    <mat-drawer #sidenav [opened]="opened" id="menu" mode="side">
        <img src="../assets/logo.png" alt="" class="logo" routerLink="/">
        <mat-list class="menu-list">
            <mat-list-item *ngFor="let menuItem of menuItems" class="menu-list-item" routerLink="{{menuItem.path}}">
                <mat-icon mat-list-icon>{{menuItem.icon}}</mat-icon>
                <div mat-line>{{menuItem.title}}</div>
            </mat-list-item>
            <mat-list-item class="menu-list-item admin">
                <mat-icon mat-list-icon>manage_accounts</mat-icon>
                <div routerLink="/admin" mat-line>Admin</div>
            </mat-list-item>
            <mat-list-item class="menu-list-item logout">
                <mat-icon mat-list-icon>login</mat-icon>
                <div routerLink="/login" mat-line>Login</div>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
