<div class="main-content">
    <div class="user">
        <h3>Creating new product model</h3>
    </div>
    <form [formGroup]="form"  class="generic-dialog-form">

        <mat-form-field class="example-full-width" tabindex="2">
            <mat-label>Brand name</mat-label>
            <input formControlName="name" matInput type="text" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Brand</mat-label>
            <mat-select formControlName="productBrand" required>
                <mat-option *ngFor="let brand of productBrands" [value]="brand">
                    {{brand?.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button class="crud-user" color="primary" mat-raised-button (click)="createProductModel()">Save</button>
        </div>
    </form>
</div>
