<mat-tab-group>
    <mat-tab label="Users">
        <app-users></app-users>
    </mat-tab>
    <mat-tab label="Addresses">
        <app-addresses></app-addresses>
    </mat-tab>
    <mat-tab label="Countries">
        <app-countries></app-countries>
    </mat-tab>
    <mat-tab label="Cities">
        <app-cities></app-cities>
    </mat-tab>
    <mat-tab label="Municipalities">
        <app-municipalities></app-municipalities>
    </mat-tab>
    <mat-tab label="Categories">
        <app-categories></app-categories>
    </mat-tab>
    <mat-tab label="Sub categories">
        <app-sub-categories></app-sub-categories>
    </mat-tab>
    <mat-tab label="Product brands">
        <app-product-brands></app-product-brands>
    </mat-tab>
    <mat-tab label="Product models">
        <app-product-models></app-product-models>
    </mat-tab>
</mat-tab-group>
