.row {
    margin-left: 6%;
}

.row p:hover {
    text-decoration: underline;
    cursor: pointer;
}


.account {
    color: white;
    margin-top: 2.5em;
}

.account h1 {
    font-size: 17px;
    color: #f18c24;
}

.account-p {
    text-align: left;
}

.sale {
    color: white;
    margin-top: 2.5em;
}

.sale h1 {
    font-size: 17px;
    color: #f18c24;
}

.sale-p {
    text-align: left;
}

.need-help {
    color: white;
    margin-top: 2.5em;
}

.need-help h1 {
    font-size: 17px;
    color: #f18c24;
}

.need-help-p {
    text-align: left;
}

.payment-and-shipping {
    color: white;
    margin-top: 2.5em;
}

.payment-and-shipping h1 {
    font-size: 17px;
    color: #f18c24;
}

.payment-and-shipping-p {
    text-align: left;
}

.shopping {
    color: white;
    margin-top: 2.5em;
}

.shopping h1 {
    font-size: 17px;
    color: #f18c24;
}

.shopping-p {
    text-align: left;
}

.about-carrot {
    color: white;
    margin-top: 2.5em;
}

.about-carrot h1 {
    font-size: 17px;
    color: #f18c24;
}

.about-carrot-p {
    text-align: left;
}

.newsletter {
    margin-top: 10px;
}

.news {
    margin-top: -2.5%;
}

.newsletter h1 {
    color: white;
}

.news-social {
    margin-top: 2%;
    margin-right: 5.5%;
}

.social {
    text-align: right;
    margin-top: 8px;
}

::ng-deep .newsletter .mat-form-field-infix {
    color: black;
    background-color: white !important;
}

mat-label {
    color: black !important;
    top: 13px !important;
}

.newsletter button {
    margin-left: 1px;
    position: absolute;
    border-radius: 0;
    background-color: #f18c24 !important;
    color: white;
    height: 39px;
    animation: ease-in-out;
    transition: .2s;
}

.newsletter button:hover {
    background-color: white !important;
    color: #f18c24 !important;
    transition: .2s;
}

::ng-deep .newsletter .mat-form-field-label-wrapper {
    left: 10px;
    top: -15px !important;
}

.social-icon {
    padding: 5px;
    width: 50px;
    animation: ease-in-out;
    transition: .2s;
}

.social-icon:hover {
    transform: scale(1.1);
    transition: .2s;
}

.banks{
    text-align: center;
}

.banks img {
    padding: 5px;
}


