<footer>
    <div class="row">
        <div class="col">
            <div class="account">
                <h1>Account</h1>
                <div class="account-p">
                    <p>Login</p>
                    <p>Reset password</p>
                    <p>Register</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="sale">
                <h1>Sale</h1>
                <div class="sale-p">
                    <p>Offer</p>
                    <p>News</p>
                    <p>Stores</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="need-help">
                <h1>Need help?</h1>
                <div class="need-help-p">
                    <p>Contact</p>
                    <p>How to buy on Carrot?</p>
                    <p>Frequently asked questions</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="payment-and-shipping">
                <h1>Payment and shipping</h1>
                <div class="payment-and-shipping-p">
                    <p>Payment methods</p>
                    <p>Shipping</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shopping">
                <h1>Shopping</h1>
                <div class="shopping-p">
                    <p>Loyalty card</p>
                    <p>Terms of use</p>
                    <p>Privacy Policy</p>
                    <p>Reclamations</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="about-carrot">
                <h1>Carrot company</h1>
                <div class="about-carrot-p">
                    <p>About Carrot</p>
                    <p>Career</p>
                </div>
            </div>
        </div>
    </div>

    <div class="newsletter">
        <h1>Join our newsletter</h1>
        <mat-form-field appearance="legacy">
            <mat-label>Email address</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <button mat-raised-button><mat-icon>send</mat-icon></button>
    </div>
</footer>
