<div class="main-content">
    <div class="user">
        <h3>Creating new category</h3>
    </div>
    <form [formGroup]="form">

        <mat-form-field class="example-full-width" tabindex="2">
            <mat-label>Category name</mat-label>
            <input formControlName="name" matInput type="text" required>
        </mat-form-field>
        <div>
            <button class="crud-user" color="primary" mat-raised-button (click)="createCategory()">Save</button>
        </div>
    </form>
</div>
